<h1>TCC 2019 - Sistemas de Balanço</h1>
<h4><b>Alunos:</b> Leandro Alves da Silva, Wesley Simões dos Santos </h4>
<h4><b>Orientador:</b> Prof. Maiana Lopes </h4>
<h4><b>Linguagem de programação:</b> Ruby 2.5.3 </h4>
<h4><b>Framework :</b> Rails 5.2.2 </h4>

