<h1>Tcc 2019</h1>
<h4><b>Alunos:</b> Leandro Alves da Silva, Wesley Simões </h4>
<h4><b>Orientador:</b> Prof. Maiane </h4>
<h4><b>Linguagem de programação:</b> Ruby 2.5.3 </h4>
<h4><b>Framework :</b> Rails 5.2.2 </h4>

